
<div class="container annonce-container">
    <!-- Tab Menu -->
    <div class="row">
        <div class="col-lg-10">
            <div class="col-lg-11 offset-lg-1 listAnnonMenu">
    <div class="navAnnonce">
        <ul class="nav justify-content-center navAnnonce">
            <li  class="nav-item2">
                <a id="toutesBtn" class="nav-link active navBtn" href="#">Toutes <span class="countAnnonce">{{ allAnnonces|length }}</span></a>
            </li>
            <li class="nav-item2">
                <a id="partBtn" class="nav-link navBtn" href="#">Particuliers <span class="countAnnonce">{{ partAnnonces|length }}</span></a>
            </li>
            <li class="nav-item2">
                <a id="proBtn" class="nav-link navBtn" href="#">Professionnels <span class="countAnnonce">{{ proAnnonces|length }}</span></a>
            </li>


                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Trier par date
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Date</a>
                        <a class="dropdown-item" href="#">Prix</a>
                    </div>
                </div>

        </ul>
    </div>
            </div>
    </div>
    </div>
    <!-- DIV ROW ALL -->
<div id="all" class="row">
    <div class="col-lg-10">
{% for annonce in allAnnonces %}

        <div class="col-lg-11 offset-lg-1 annonce ">
        <a href="#" class="">
            <div class="row">
            <div class="col-lg-3 forImgAnnonce">
                <img class="imgAnnonce" src="{{ annonce.img }}" alt="">
            </div>
            <div class="col-lg-9 textAnnonces">
                <h1 class="titreAnnonce">Annonce #{{ annonce.id }} - {{ annonce.title }}</h1>
                <p class="annonceParagraphe">{{ annonce.annonce }}</p>
                <div class="row">
                    <div class="col-lg-6"><p class="pull-left prixAnnonce">{{ annonce.prix }}</p></div>
                    <div class="col-lg-6"><p class="pull-right">{{ annonce.createdAt|date('Y-m-d H:i') }}</p></div>

                </div>

            </div>
            </div>
        </a>
    </div>

{% endfor %}
    </div>
    <div class="col">

    </div>
</div>
    <!-- END ROW ALL -->
    <!-- DIV ROW PART -->
    <div id="part" class="row">
        <div class="col-lg-10">
            {% for annonce in partAnnonces %}

                <div class="col-lg-11 offset-lg-1 annonce ">
                    <a href="#" class="">
                        <div class="row">
                            <div class="col-lg-3 forImgAnnonce">
                                <img class="imgAnnonce" src="{{ annonce.img }}" alt="">
                            </div>
                            <div class="col-lg-9 textAnnonces">
                                <h1 class="titreAnnonce">Annonce #{{ annonce.id }} - {{ annonce.title }}</h1>
                                <p>{{ annonce.annonce }}</p>
                                <p class="pull-left prixAnnonce">{{ annonce.prix }}</p>
                            </div>

                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
        <div class="col">

        </div>
    </div>
    <!-- END ROW PART -->
    <!-- DIV ROW PRO -->
    <div id="pro" class="row">
        <div class="col-lg-10">
            {% for annonce in proAnnonces %}

                <div class="col-lg-11 offset-lg-1 annonce ">
                    <a href="#" class="">
                        <div class="row">
                            <div class="col-lg-3 forImgAnnonce">
                                <img class="imgAnnonce" src="{{ annonce.img }}" alt="">
                            </div>
                            <div class="col-lg-9 textAnnonces">
                                <h1 class="titreAnnonce">Annonce #{{ annonce.id }} - {{ annonce.title }}</h1>
                                <p>{{ annonce.annonce }}</p>
                                <p class="pull-left prixAnnonce">{{ annonce.prix }}</p>
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
        <div class="col">

        </div>
    </div>
    <!-- END ROW PRO -->
</div>
