<!--NAVBAR-->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #f56b2a">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="{{asset('img/logoLeBonCoin.svg')  }}" id="navBrandImg" alt=""></a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li {% if app.request.attributes.get('_route') == 'home_default_index' %} class="active nav-item"{% else %} class="nav-item"{% endif %}>
                <a class="nav-link" href="{{ url('home_default_index')}}">ACCUEIL </a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'home_annonce_index' %} class="active nav-item"{% else %} class="nav-item"{% endif %} class="nav-item">
                <a class="nav-link" href="{{ url('home_annonce_index')}}">DÉPOSER UNE ANNONCE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">OFFRES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    DEMANDES
                </a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'home_annonce_userannonce' %} class="active nav-item"{% else %} class="nav-item"{% endif %}>
                <a class="nav-link" href="{{ url('home_annonce_userannonce')}}">
                    MES ANNONCES
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    BOUTIQUES
                </a>
            </li>

            {% if app.user %}
               <li class="nav-item login-item">
                   <a class="nav-link" href="{{ url('fos_user_profile_edit')}}">
                       <i class="fa fa-user-o" aria-hidden="true"></i> {{ app.user.username }}
                   </a></li>
                <li class="nav-item"><a class="nav-link logoutLink"  href="{{ url('fos_user_security_logout')}}"> <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a></li>
            {% else %}
            <li class="nav-item login-item">
                <a class="nav-link" href="{{ url('fos_user_security_login')}}"><i class="fa fa-user-o" aria-hidden="true"></i>
                    Se connecter
                </a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>
<!--FIN NAVBAR-->