<div class="row nav-search">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <form>
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <input type="text" class="form-control" id="whatFind" placeholder="Que cherchez-vous ?">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <select class="custom-select" id="categorie">
                            <option selected>Toutes catégories</option>
                            <option value="EMPLOI">EMPLOI</option>
                            <option value="VEHICULES">VEHICULES</option>
                            <option value="IMMOBILIER">IMMOBILIER</option>
                            <option value="VACANCES">VACANCES</option>
                            <option value="MULTIMEDIA">MULTIMEDIA</option>
                            <option value="LOISIRS">LOISIRS</option>
                            <option value="MATERIEL PROFESSIONNEL">MATERIEL PROFESSIONNEL</option>
                            <option value="SERVICES">SERVICES</option>
                            <option value="MAISON">MAISON</option>
                            <option value="AUTRES">AUTRES</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary">RECHERCHER</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Recherche dans le titre uniquement
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Annonces <i class="fa fa-star" style="font-weight: bold; color: #f56b2a" aria-hidden="true"></i> <span style="font-weight: bold; color: #f56b2a">Urgentes</span> uniquement
                        </label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <select class="custom-select" id="localisation">
                            <option value="arround"><i class="fa fa-location-arrow" aria-hidden="true"></i> Autour de moi</option>
                            <option value="idf">Ile de France</option>
                            <option value="regionVoisine">Regions voisines</option>
                            <option value="allFrance">Toutes la france</option>
                            <option class="optSubMenu" value="dept">DEPARTEMENT</option>
                            <option value="Paris">Paris</option>
                            <option value="Seine-et-Marne">Seine-et-Marne</option>
                            <option value="Yvelines">Yvelines</option>
                            <option value="Hauts-de-Seine">Hauts-de-Seine</option>
                            <option value="Seine-Saint-Denis">Seine-Saint-Denis</option>
                            <option value="Val-de-Marn">Val-de-Marne</option>
                            <option value="Val-d'Oise">Val-d'Oise</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="city" placeholder="Ville ou code Postal">
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="col"></div>
</div>