<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-1" style="margin-left: 77px">
            <div class="row">
                <div class="col-lg-10 infoPage">
                    <div class="col"><h4 class="location-list pull-left">Annonces : Ile-de-France</h4> </div>
                    <div class="col">
                        <h6 class="pull-right meetic">
                            <a class="pull-right" href="">
                                <i class="fa fa-heart" aria-hidden="true">

                                </i> Consultez des annonces de célibataires. Inscription gratuite !
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
            <iframe src="https://img8.leboncoin.fr/crea/regie_nationale/FDJ/OI011925/970x90/generique/index.html" width="970" height="90" scrolling="no" frameborder="0"></iframe>
        </div>
    </div>
</div>
