{% extends '::base.html.twig' %}
{% block title %}
    Déposer une annonce
{% endblock %}



{% block body %}

    <div class="row deposeUneAnnonceTitre">
        <div class="col-lg-10 offset-1 deposeUneAnnonceTitreMArge">
            <h5 class="pull-0">Déposer une annonce</h5>
        </div>
    </div>
<div class="row">

        <div class="col-lg-9 offset-1 containerFormTop">
<H6 class="">Votre annonce</H6>
        </div>


    <div class="col-lg-9 offset-1 containerForm">
        <div class=" col-lg-4">
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
        </div>
    </div>

</div>




{% endblock %}
