
{% extends '::base.html.twig' %}
{% block title %}
  lecoinbon
{% endblock %}



{% block body %}

    {% include ('navSearch.html.twig') %}
    {% include ('pub.html.twig') %}

    {% include ('homeAnnonces.html.twig') %}




{% endblock %}