{% extends '::base.html.twig' %}
{% block title %}
        Mes annonces
{% endblock %}



{% block body %}

        <div class="container annonce-container">
        <!-- Tab Menu -->
        <div class="row">
<div class="col-lg-10">
        <div class="col-lg-11 offset-lg-1 titreMesAnnonces">
                <h5>mes annonces</h5>
        </div>
    {% for annonce in userAnnonces %}
<div class="row">
            <div class="col-lg-8 offset-lg-1 annonce ">

                    <a href="#" class="">
                            <div class="row">
                                    <div class="col-lg-4 forImgAnnonce">
                                            <img class="imgAnnonce" src="{{ annonce.img }}" alt="">
                                    </div>
                                    <div class="col-lg-8 textAnnonces">
                                            <h1 class="titreAnnonce">Annonce #{{ annonce.id }} - {{ annonce.title }}</h1>
                                            <p class="annonceParagraphe">{{ annonce.annonce }}</p>
                                            <div class="row">
                                                    <div class="col-lg-6"><p class="pull-left prixAnnonce">{{ annonce.prix }}</p></div>
                                                    <div class="col-lg-6"><p class="pull-right">{{ annonce.createdAt|date('Y-m-d H:i') }}</p></div>

                                            </div>

                                    </div>
                            </div>
                    </a>
            </div>
            <div class="col-lg-3 annonce">
                    <div class="btn-group-vertical">

                            <a href="{{ url('home_annonce_delete',{'id': annonce.id})}}" type="button" class="btn btn-secondary">supprimer</a>
                            <a href="" type="button" class="btn btn-secondary">desactiver</a>
                    </div>
            </div>
</div>
    {% endfor %}
</div>
        </div>
        </div>
{% endblock %}