
.annonce:hover{
    background-color: #cbcbcb;
    text-decoration: none;
}

a .textAnnonces:hover {
    text-decoration: none;
}
.loggedUser{
color: white;
}
#navBrandImg{
    max-width: 100px!important;
    height: auto;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.nav-link{
    font-size: 13px;
}

.navbar-brand {
    margin-left: 20%;
}

.login-item{
    margin-left: 87px;
    border-right: solid white 1px;
    border-left: solid white 1px;

}

.nav-search{
    font-size: 12px;
    margin-top:0;
    background-color: lightgray;
    padding-top:10px;
}

.optSubMenu{
    background-color: lightgray;
}

.form-check-label {
    width: 116%;
    padding-left: 1.25rem;
    margin-bottom: 0;
    cursor: pointer;
}

a.nav-link:active { color: lime; } /* active links */

.annonce img{

    width: auto;
    max-width: 190px;
    height: 121px;
}



.imgAnnonce{
    display: inline-block;
}
.textAnnonces{
    display: inline-block;
}

.annonce{
    border: 1px solid #cbcbcb;
    border-top: none;
    height: 151px;
    border-collapse: collapse;
    padding: 15px;

}

h1.titreAnnonce{
font-size: 20px;
    color: #369;
}
p.annonceParagraphe{
    color: black;
    font-size: 13px;
}

.meetic{
    font-size: 12px;
}

.fa-heart:before{
    color: red!important;
}

.location-list{
    font-size: 14px;
    color: #939393;
}

.navbar-light .navbar-nav .nav-link{
    color: #ffffff!important;
}

.annonce a:hover{
    text-decoration: none;
}


.annonce-container{
    margin-top:20px ;
}

.navList{
    display: inline-block!important;
}

.listElm{
    display: inline-block!important;

}

.nav-item2{
    width: 34%;


}

.nav-item2 li{

}
ul.nav .justify-content-center{
   width: 100%
}


.listAnnonMenu{
    padding: 0!important;
}

.nav-item2 a{
   /* color: #f56b2a!important; */
}

.countAnnonce{
font-weight: bold;
    color: grey;
}

.infoPage{
    margin-top: 19px!important;
    margin-bottom: 19px!important;
    width: 100%;
}

#toutesBtn,#partBtn,#proBtn{
    /*color: #f56b2a;*/
    color: black;
    border: solid 1px rgba(0, 0, 0, 0.25);
    border-collapse: collapse;
    font-weight: bold;
}


#pro,#part{
    display: none;
}


.prixAnnonce{
    color: #f56b2a;
    font-weight: bold;
}

.active {
    background: url(../img/triangle.png) no-repeat;
    background-size: 15px 10px;
    background-position-x: 50%;
    background-position-y: 22px;
}

.navbar-nav{
    margin-top: 10px;
}
.nav-link{
    padding: 5px;
}


.navbar {

    padding: 0px;

}

.formAdd{
    border: solid 2px #f56b2a;
    border-radius: 5%;
    padding: 48px;
}

#annonce_ajouter{
    background-color: #f56b2a;
    color: white;

}

div.row.deposeUneAnnonceTitre{
    width: 92.25%;
    margin: 20px;
    margin-left: 0;
}
div.row.deposeUneAnnonceTitre h5{
    color: rgba(0, 0, 0, 0.49);
}

.containerForm{
    border: solid 1px rgba(0, 0, 0, 0.25);
    border-collapse: collapse;
    padding: 3px;
    padding-top: 9px;
    padding-left: 10px;
}

.containerFormTop{
    border: solid 1px rgba(0, 0, 0, 0.25);
    border-collapse: collapse;
    padding: 3px;
    padding-top: 9px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
}

.deposeUneAnnonceTitreMArge{

    padding-left: 0;
    margin-left: 93px;
    border-bottom: solid 1px rgba(0,0,0,0.33);
}


li.nav-item .nav-link {
    margin-top: 0;
}

a.logoutLink {
    margin-top: -6px!important;
}
.formContainerRow{
    margin-top: 20px!important;
}
.formContainer{
    padding: 20px;
    background-color: rgba(223, 223, 223, 0.1)!important;
    border: 1px solid #bcbcbc!important;
    min-height: 247px;
    border-top: none;
}

.loginTitle{
    background-color: rgb(153, 153, 153) !important;

    border: 1px solid #bcbcbc!important;

}

h6.mx-auto{
    margin-left: 29%!important;
    color: white;
}

.titreMesAnnonces{

    max-width: 100%!important;
    width: 94.7%!important;
    border: solid 1px rgba(0, 0, 0, 0.24);
    background-color: rgb(153, 153, 153) !important;
    color: white;
    margin-left: 64px;
}

.titreMesAnnonces h5{
    margin-top: 0.5rem;
}