{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container">
        <div class="row formContainerRow">
            <div class="col-lg-4 offset-4">
                <div class="loginTitle"> <h6 class="mx-auto" style="width:200px; height: 10px">connectez-vous:</h6></div>

<div class="formContainer">
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="formgroup">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>

            <div class="formgroup">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input class="form-control" type="password" id="password" name="_password" required="required" />
            </div>

                <div class="checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>

                <input class="btn btn-sm btn-outline-primary pull-right" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

    </form>
</div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}